<div style="display: flex; background-color: RGB(32, 178, 170);" >
<h1 style="margin: auto; padding: 30px; "> APPLICATION DU MODÈLE DE RÉGRESSION LOGISTIQUE</h1>
</div

In [49]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import joblib

In [51]:
# Chargement du fichier 
df = pd.read_csv("billets_production.csv")
df.head()

   diagonal  height_left  height_right  margin_low  margin_up  length   id
0    171.76       104.01        103.54        5.21       3.30  111.42  A_1
1    171.87       104.17        104.13        6.00       3.31  112.09  A_2
2    172.00       104.58        104.29        4.99       3.39  111.57  A_3
3    172.49       104.55        104.34        4.44       3.03  113.20  A_4
4    171.65       103.63        103.56        3.77       3.16  113.33  A_5

In [53]:
# Création d'une fonction pour détecter les vrais et faux billets

def prediction_billet(df):
    #Sélection des variables significatives
    X = df.drop(["diagonal","height_left", "id"], axis=1)
    #Standardisation des données
    scaler = StandardScaler()
    X = scaler.fit_transform(X)
    #Chargement du model de régression logistique
    rl_model = joblib.load("selected_model")
    #Probabilités et prédiction
    df["proba_0"] = rl_model.predict_proba(X)[:,0]
    df["proba_1"] = rl_model.predict_proba(X)[:,1]
    prediction = rl_model.predict(X)
    #Ajout des prédictions dans le dataframe
    df["prediction"] = prediction

    #Dataframe contenant les prédictions
    return df

In [55]:
#Visualisation des prédictions

prediction_billet(df)

,diagonal,height_left,height_right,margin_low,margin_up,length,id,proba_0,proba_1,prediction
0,171.76,104.01,103.54,5.21,3.30,111.42,A_1,0.944388,0.055612,0
1,171.87,104.17,104.13,6.00,3.31,112.09,A_2,0.987154,0.012846,0
2,172.00,104.58,104.29,4.99,3.39,111.57,A_3,0.989316,0.010684,0
3,172.49,104.55,104.34,4.44,3.03,113.20,A_4,0.000110,0.999890,1
4,171.65,103.63,103.56,3.77,3.16,113.33,A_5,0.000003,0.999997,1

Les billets A_1, A_2 et A_3 sont prédits comme faux\
Les billets A_4 et A_5 sont prédits comme vrais

<div style="border: 1px solid RGB(32, 178, 170);" >
<h3 style="margin: auto; padding: 20px; color: RGB(32, 178, 170); ">Soutenance test</h3>
</div>

In [58]:
df_test = pd.read_csv("billet_test.csv")
df_test.head()

   diagonal  height_left  height_right  margin_low  margin_up  length   id
0    172.09       103.95        103.73        4.39       3.09  113.19  B_1
1    171.52       104.17        104.03        5.27       3.16  111.82  B_2
2    171.78       103.80        103.75        3.81       3.24  113.39  B_3
3    172.02       104.08        103.99        5.57       3.30  111.10  B_4
4    171.79       104.34        104.37        5.00       3.07  111.87  B_5

In [60]:
prediction_billet(df_test)

,diagonal,height_left,height_right,margin_low,margin_up,length,id,proba_0,proba_1,prediction
0,172.09,103.95,103.73,4.39,3.09,113.19,B_1,0.000042,0.999958,1
1,171.52,104.17,104.03,5.27,3.16,111.82,B_2,0.864558,0.135442,0
2,171.78,103.80,103.75,3.81,3.24,113.39,B_3,0.000024,0.999976,1
3,172.02,104.08,103.99,5.57,3.30,111.10,B_4,0.999786,0.000214,0
4,171.79,104.34,104.37,5.00,3.07,111.87,B_5,0.581533,0.418467,0

Les billets B_2, B_4, B_5 sont prédits comme faux \
Les billets B_1, B_3 sont prédits comme vrais